body {
    background: black;
    font-family: 'Poppins', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

#kcode {
    width: 50%;
    margin: auto;
    display: block;
}

#main {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.column {
    display: flex;
    position: relative;
    height: 100%;
    width: 24.3%;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    
    
}

.centertext {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.centertext-white {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.text-block {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

a:link {
    color: white;
    background-color: black;
}

a:visited {
    color: white;
}

a:hover {
    color: aqua;
}

#stevejobs {
    display: block;
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.mainHead {
    font-size: 50px;
    text-align: center;
}

#aboutme {
    font-size: 40px;
    text-align: center;
}

.column2 {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 24.3%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.text-block2 {
    position: absolute;
    text-align: center;
    color: white;
}

.column3 {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 24.3%;
}

.row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.subaboutp {
    text-align: center;
    font-size: 20px;
    background-color: #967969;
    color: black;
    line-height: 50px;
}

.goals {
    line-height: 65px;
    background-color: #967969;
    color: white;
    font-size: 20px;
}